<div>
    <h1 fxLayoutAlign="center center">Rutas</h1>
    <agm-map [latitude]=" lat " [longitude]="lng " [zoom]="zoom ">
        <agm-marker [latitude]="lat " [longitude]="lng "></agm-marker>
    </agm-map>
</div>

<mat-card fxLayoutAlign="col" fxLayoutAlign="center center" style="width: 100%; height: 100%; background: rgb(248, 248, 248)">
    <mat-card style="background: rgb(248, 248, 248) ">
        <div fxLayoutAlign="center center ">
            <mat-form-field style="width: 100%; margin: 2% ">
                <mat-label fxlayoutAlign="end end "> <b>Agencia</b></mat-label>
                <mat-select>
                    <mat-option *ngFor="let food of foods " [value]="food.value ">
                        {{food.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxLayoutAlign="end end ">
            <th style="width: 75%; height: 100%; ">Rutas</th>
        </div>

        <table style="width: 100%; height: 100%; ">
            <th>Agencia</th>
            <th>Totales</th>
            <th>Activas</th>
            <th>Completas</th>

            <tr>
                <td>Coacalco</td>
                <td>120</td>
                <td>20</td>
                <td>100</td>
            </tr>

            <tr>
                <td>Ceylan</td>
                <td>200</td>
                <td>50</td>
                <td>150</td>
            </tr>

            <tr>
                <td>Tláhuac</td>
                <td>50</td>
                <td>30</td>
                <td>20</td>
            </tr>

            <tr>
                <td>Coacalco</td>
                <td>120</td>
                <td>20</td>
                <td>100</td>
            </tr>

            <tr>
                <td>Ceylan</td>
                <td>200</td>
                <td>50</td>
                <td>150</td>
            </tr>

            <tr>
                <td>Tláhuac</td>
                <td>50</td>
                <td>30</td>
                <td>20</td>
            </tr>
        </table>

    </mat-card>
</mat-card>