<mat-card style="width: auto; height: auto; padding-top: 3%;">
    <span style="text-align: center; align-items: center; margin-bottom: 3%;" class="font-size-46 font-weight-300 line-height-1 ">Ventas del día</span>

</mat-card>


<mat-card style="width: auto; height: auto; padding-top: 3%;">
    <span style="text-align: center; align-items: center; margin-bottom: 3%; margin: 5%;" class=" font-weight-300 line-height-1 ">Venta Planeada</span>
</mat-card>

<mat-card style="width: auto; height: auto; padding-top: 3%;">
    <span style="text-align: center; align-items: center; margin-bottom: 3%; margin: 5%;" class=" font-weight-300 line-height-1 ">Venta Ejecutada</span>
</mat-card>

<mat-card style="width: auto; height: auto; padding-top: 3%;">
    <span style="text-align: center; align-items: center; margin-bottom: 3%; margin: 5%;" class=" font-weight-300 line-height-1 ">Rechazos</span>
</mat-card>